<row>
    <div class="col-md-8">
        <h2>Labs</h2>

        <div class="list-group" ng-repeat="lab in labs | orderBy:'day1'"
             ng-click="selectLab(lab.$id); lab_users(lab.$id)">
            <h4 class="list-group-item-heading"><a ng-click="selectLab(lab.$id); lab_users(lab.$id)">{{lab.client}}</a>
            </h4>

            <p class="list-group-item-text">Dates: {{lab.day1}} & {{lab.day2}}</p>

            <p class="list-group-item-text">Track: {{lab.track}}</p>

            <p class="list-group-item-text">Client Contact: {{lab.contact}}</p>
            <hr>
        </div>
    </div>
    <div class="col-md-4">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="user in lab_users"><a href="#/users/{{user.$id}}">{{user.$id}}</a>
            </li>
        </ul>
    </div>
</row>
<row>
    <div class="post-page panel">


        <div class="col-md-12">
            <h2>Lab Details</h2>

            <form ng-submit="submitLab()" name="form">
                <div ng-show="error || form.labname.$error">
                    <p ng-show="error" class="text-danger"></p>

                    <p ng-show="form.labname.$error.taken" class="text-danger">Username is already taken.</p>

                    <p ng-show="form.labname.$error.invalid" class="text-danger">Username contains invalid
                        characters.</p>
                </div>
                <input type="text" ng-model="lab.client" placeholder="Client" class="form-control"><br>
                <input type="text" ng-model="lab.code" placeholder="Lab Code" name="labcode" check-labcode
                       class="form-control"><br>
                <input type="email" ng-model="lab.contact" placeholder="Client Contact Email" class="form-control"><br>
                <input type="text" ng-model="lab.projectmgr" placeholder="Project Manager" class="form-control"><br>
                <input type="text" ng-model="lab.ae" placeholder="AE" class="form-control"><br>
                <input type="text" ng-model="lab.facilitator" placeholder="Facilitator" class="form-control"><br>
                <input type="datetime" ng-model="lab.day1" placeholder="Session 1" class="form-control"><br>
                <input type="datetime" ng-model="lab.day2" placeholder="Session 2" class="form-control"><br>
                <select class="form-control" ng-model="lab.track">
                    <option>Consumer</option>
                    <option>Channel</option>
                    <option>Direct</option>
                    <option>Employee</option>
                </select>
                <input type="submit" value="Register" class="btn btn-primary" ng-show="signedIn()"/>
                <input type="button" ng-click="labClear()" value="Reset" class="btn">
            </form>
        </div>
    </div>

</row>