<section id="admin-users">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>User Admin
                    <span class="badge">{{ users.length }}</span>
                </h2>
                <hr class="star-primary">
            </div>
        </div>
        <div>

            <div class="table-responsive">
                <table class="table table-bordered table-responsive table-striped">
                    <thead>
                    <tr>

                        <th colspan="2">Username</th>
                      <th>Lab</th>
                        <th>Points</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="(uid, user) in users | orderBy:predicate:reverse ">

                        <td width="60px">
                            <img ng-src="http://www.gravatar.com/avatar/{{ user.md5_hash }}" class="prof-img"/>
                        </td>
                        <td>
                            <a href="#/users/{{ user.$id }}">
                                <h3>{{user.username}}</h3>
                            </a>
                        </td>
                      <td>{{user.lab}}</td>

                        </td>
                        <td>
                            <h3>{{user.points}}</h3>
                        </td>
                      <td><a ng-click="updatePriority(user)">prioritize</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</section>
