<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>Title</th>
        <th>Link</th>
        <th>Link Type</th>
        <th>Points</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="challenge in challenges">
        <td><b>{{ challenge.title }}</b>

            <p>{{ challenge.description }}</p></td>
        <td>{{challenge.link | limitTo:20}}<a href="">...</a></td>
        <td>{{challenge.linktype}}</td>
        <td>{{ challenge.points }}</td>
        <td><a class="btn btn-sm">edit</a></td>
    </tr>
    <tr>
        <td colspan="5">New Challenge</td>
    </tr>
    <tr>
        <td><b><input type="text" class="form-control" ng-model="challenge.title" placeholder="Title"></b>

            <p><textarea class="form-control" ng-model="challenge.description" placeholder="Description"></textarea></p>
        </td>
        <td><input type="text" class="form-control" ng-model="challenge.link" placeholder="Link"></td>
        <td>
            <select class="dropdown form-control" id="linktype" ng-model="challenge.linktype">

                <option selected>url</option>
                <option>video</option>
                <option>pdf</option>
            </select>
            <br>Link Type
        </td>
        <td><input type="text" class="form-control" size="10" ng-model="challenge.points" placeholder=""><br>Points</td>
        <td>
            <button class="btn btn-default" ng-click="submitChallenge(challenge)">Submit</button>
        </td>
    </tr>
    </tbody>
</table>
