<div class="portfolio-modal modal fade" ng-controller="ChallengesCtrl">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>{{challenge.title}} {{challenge.linktype}}</h2>
                        <hr class="star-primary">
                        <img src="images/portfolio/{{challenge.icon}}.png" class="img-responsive img-centered" alt="">

                        <p>{{challenge.description}}</p>

                        <p>This challenge is worth {{challenge.points}} points.</p>
                        <a href="{{challenge.link}}" ng-show="challenge.linktype==='url'" target="_blank">Click to
                            Open</a>
                        <br>

                        <div class="embed-responsive embed-responsive-16by9" ng-show="challenge.linktype==='video'">
                            <iframe class="embed-responsive-item" src="{{trustSrc(challenge.link)}}"></iframe>
                            <br>
                        </div>
                        <div ng-show="challenge.linktype==='pdf'">
                            <embed ng-src="{{trustSrc(challenge.link)}}" width="680" height="800" alt="pdf"
                                   pluginspage="http://www.adobe.com/products/acrobat/readstep2.html">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>
                            Close
                        </button>
                        <button class="btn btn-lg btn-warning" ng-click="$dismiss()">Ok</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

