<div ng-controller="ProfileCtrl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span
                        aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Change Password</h4>
            </div>
            <div class="modal-body">
                <p ng-show="message" class="text-success">{{message}}</p>

                <p ng-show="error" class="text-danger">{{error}}</p>

                <form>
                    <label for="old_pwd">Current Password</label>
                    <input class="form-control" type="password" id="old_pwd" ng-model="oldpassword"
                           placeholder="Current Password">
                    <label for="pwd">New Password</label>
                    <input class="form-control" type="password" id="pwd" ng-model="newpassword"
                           placeholder="New Password">
                    <label for="pwd2">Retype New Password</label>
                    <input class="form-control" type="password" id="pwd2" ng-model="newpassword2"
                           placeholder="Retype New Password">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="$dismiss()">Close</button>
                <button class="btn btn-primary"
                        ng-click="changePassword(currentUser.email,oldpassword, newpassword, newpassword2)">Save
                </button>
            </div>
        </div>
    </div>
</div>
</div>