<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <h3>What About You?</h3>

                <p>We hear it all the time.</p>

                <p>“How can I get them to buy more?”</p>

                <p>“How can I get customers to worry about value instead of price?”</p>

                <p>“How can I get people to think of us first?”</p>

                <p>Great questions. But they’re all about you. Your problems. Your goals.</p>

            </div>
            <div class="col-lg-4">
                <h3>What about theirs?</h3>

                <p>Persuasive Design—efficiently practiced in our exclusive Persuasive Design Lab—produces program
                    designs that help
                    people get what they want, in the context of your business.</p>

                <p>In the two-day lab, you’ll paint a new picture of what could be—from your customers’ point of
                    view.</p>

                <p>Then we’ll define a project to turn that picture into reality.</p>

                <p>We’ve helped over a dozen companies with Persuasive Design, and those labs helped HON and SCENE win
                    international
                    rewards for incentive and loyalty programs.</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="#" class="btn btn-lg btn-outline">
                    <i class="fa fa-download"></i> Download Free Question Storming Guide
                </a>
            </div>
        </div>
    </div>
</section>
