<!-- Portfolio Grid Section -->
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Challenges</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 portfolio-item" ng-repeat="challenge in challenges">
                <a ng-click="open('lg',challenge)" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                            <h5>{{challenge.title}} for {{challenge.points}} points</h5>
                        </div>
                    </div>
                    <img ng-src="images/portfolio/{{challenge.icon}}.png" class="img-responsive" alt="">
                </a>
            </div>

        </div>
    </div>
</section>

<!-- Challenge Detail Modal -->
<script type="text/ng-template" id="challengesmodal.html">
    <div class="portfolio-modal">
        <div class="modal-content">

            <div class="container-narrow">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{challenge.title}}</h2>
                            <hr class="star-primary">
                            <img ng-src="images/portfolio/{{challenge.icon}}.png" class="img-responsive img-centered"
                                 alt="">

                            <p>{{challenge.description}}</p>

                            <p>This challenge is worth {{challenge.points}} points.</p>

                            <h3>The Challenge</h3>

                            <div class="portfolio-item" ng-show="challenge.linktype==='url'">
                                <iframe ng-src="{{trustSrc(challenge.link)}}" width="600" height="600"></iframe>

                                <p>If your device complains:</p>
                                <a ng-href="{{challenge.link}}" target="_blank">Click to
                                    Open</a>
                                <br>
                            </div>

                            <div class="portfolio-item" ng-show="challenge.linktype==='typeform'">
                                <iframe ng-src="{{trustSrc(challenge.link) + uid}}" width="600" height="600"></iframe>

                                <p>If your device complains:</p>
                                <a ng-href="{{challenge.link + uid}}" target="_blank">Click to
                                    Open</a>
                                <br>
                            </div>

                            <div class="portfolio-item" ng-show="challenge.linktype==='video'">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item"
                                            ng-src="{{trustSrc(challenge.link)}}"></iframe>
                                    <br>

                                </div>
                                <p>If your device complains:</p>
                                <a href="{{challenge.link}}" target="_blank">Click to
                                    Open</a>
                                <br>
                            </div>
                            <div class="portfolio-item" ng-show="challenge.linktype==='pdf'">

                                <div ng-class="challenge.linktype">
                                    <embed ng-src="{{trustSrc(challenge.link)}}" width="680" height="800" alt="pdf"
                                           pluginspage="http://www.adobe.com/products/acrobat/readstep2.html">
                                </div>
                                <a href="{{challenge.link}}" target="_blank">Click to
                                    Open</a>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-lg btn-primary" ng-click="complete(challenge.$id); $dismiss()">I Will
                                Do This!
                            </button>
                            <button class="btn btn-lg btn-warning" ng-click="$dismiss()"><i class="fa fa-times"></i>Close
                            </button>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
    