
    <!--main body-->
        <div class=" posts-page">

            <ul class="media-list">
                <li class="media post row" ng-repeat="challenge in challenges">
                    <a class="pull-left" href="#/challenges/{{challenge.$id}}" >

                        <img class="media-object" src="images/nxt-checkbox-checked-ok-md.png" height="140" width="140" alt="Complete">
                    </a>
                    <div class="media-body">
                        <h3 class="media-heading">{{challenge.title}}</h3>
                        <p>{{challenge.description}}</p>
                        <h3>{{challenge.points}} <small>points</small></h3>
                        <a  href="#/challenges/{{challenge.$id}}" class="btn btn-primary btn-lg  pull-right">GO!</a>
                        &mdash;
                        <a href="#/challenges/{{ challenge.$id }}">{{challenge.comments.length}} comments</a>

                    </div>
                </li>
            </ul>
        </div>



