<section id="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Features <span class="badge">{{ features.length }}</span></h2>
                <hr class="star-primary">
            </div>
        </div>

        <div class="row">
            <div class="col-md-8"></div>
            <div class="col-md-4"><!-- Button trigger modal -->
              <button class="btn btn-primary pull-right" data-toggle="modal" data-target=".portfolio-modal">
                    Submit Feature Request
                </button>
            </div>
        </div>

        <ul class="list-unstyled">
          <li ng-repeat="(id, feature) in features | orderBy:'status'">
                <div class="row" ng-class-odd="'odd'">
                    <div class="col-md-4"><a ng-href="#/features/{{feature.$id}}"><h4>{{feature.title}}</h4></a></div>
                    <div class="col-md-8">
                        <p>{{feature.description}}</p>

                        <span><b>Status:</b> {{feature.status}} | <b>Priority:</b> {{feature.priority}} | </span>
                        <span><i class="fa fa-comments-o"></i> <a
                                href="#/features/{{ feature.$id }}">comments</a></span>
                    </div>

                </div>
                <hr>
            </li>
        </ul>
    </div>
</section>

<!-- Modal -->
<!-- Small modal -->

<div class="portfolio-modal modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">

            <h4 class="modal-title" id="myModalLabel">Request a Feature
                    <small>or report a bug</small>
                </h4>


            <p ng-show="success" class="bg-success">{{success}}</p>

                <p ng-show="error" class="bg-danger">{{error}}</p>

                <div class="control-group"></div>
                <form id="contactForm" name="featureForm" novalidate>
                    <div class="input-group">
                        <label for="featureTitle">Name your feature</label>
                        <input type="text" class="form-control" id="featureTitle" ng-model="feature.title"
                               placeholder="Name Feature" required
                               data-validation-required-message="Please give your feature a name or title.">

                        <p class="help-block text-danger"
                           ng-show="featureForm.featureTitle.$dirty && featureForm.featureTitle.$invalid"></p>
                    </div>
                    <div class="input-group">
                        <label for="featureDescription">What else can you tell us about this feature?</label>
                        <textarea class="form-control" id="featureDescription" ng-model="feature.description"
                                  placeholder="Details" required data-validation-required-message="Please give us an idea of how this feature
                                  should work."></textarea>

                        <p class="help-block text-danger"
                           ng-show="featureForm.featureDescription.$dirty && featureForm.featureDescription.$invalid"></p>
                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="error=''" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="submitFeature(feature)">Submit Feature</button>
            </div>
        </div>
    </div>
</div>
</div>
</div>
