<h3>Complete Features</h3>
<ul>
    <li>Register for lab</li>
    <li>See progress</li>
    <li>Read About Persuasive Design Lab&trade;</li>
    <li>Admin tools
        <ul>
            <li>Create a lab</li>
            <li>Edit a lab</li>
            <li>List registered users</li>
            <li>List labs</li>
        </ul>
    </li>
</ul>

<h3>Features Coming Soon</h3>
        <ul>
            <li>Create Challenges</li>
            <li>See challenges for you</li>
            <li>complete challenges</li>
        </ul>