<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Log In</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <form ng-submit="login()">
                    <p ng-show="error" class="text-danger">{{error}}</p>

                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Email Address</label>

                            <div class="input-group">

                                <input pdlabFocus type="email" ng-model="user.email" placeholder="Email"
                                       class="form-control input-lg" required
                                       data-validation-required-message="Please enter your email address.">
                                <br>
                                <span class="input-group-addon"><i class="fa fa-envelope-o fa-2x"></i>
                                </span>
                            </div>

                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Password</label>

                            <div class="input-group">

                                <input type="password" ng-model="user.password" placeholder="Password"
                                       class="form-control input-lg" required
                                       data-validation-required-message="Please make up a password.">
                                <br>
                                <span class="input-group-addon"><i class="fa fa-key fa-2x"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <br>
                    <input type="submit" value="Log in" class="btn btn-primary"/>
                </form>
                <br>

                <div>
                    <a data-target="#portfolioModal5" class="portfolio-link" data-toggle="modal">Forgot Password</a>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- Forgot Password Modal -->

<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Forgot Password</h2>

                        <p class="danger" ng-show="error">{{error}}</p>

                        <p class="success" ng-show="success">{{success}}</p>
                        <hr class="star-primary">
                        <img src="images/portfolio/safe.png" class="img-responsive img-centered img-small" alt="">

                        <p>Enter your email address for a chance to win a temporary password!</p>
                        <input type="email" class="form-control" ng-model="email" placeholder="Email">
                        <button type="button" class="btn btn-primary" ng-click="resetPassword(email)">Send</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>