<nav ng-controller="NavCtrl" enter="navbar-shrink" leave class="navbar navbar-default navbar-fixed-top navbar-shrink"
     role="navigation">
  <div class="container-fluid" ng-cloak>
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
          <a href="#home" class="navbar-brand">
                <img src="images/small3-recolor-white-flat.png" class="img-responsive nav-pic">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" collapse="isCollapsed">
            <ul class="nav navbar-nav">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>

                <li ng-show="signedIn()">
                  <a href="#challenges">Challenges</a>
                </li>
                <li ng-show="signedIn()">
                  <a href="#leaders">Leaders</a>
                </li>

                <li>
                  <a href="#features">Features</a>
                </li>
                <li class="page-scroll">
                  <a ng-click="scroll('about')">About</a>
                </li>

            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li ng-show="signedIn()">
                  <a ng-href="#users/{{ user.profile.$id }}" class="navbar-link">{{ user.profile.username }}</a>
                </li>
                <li ng-show="signedIn()">
                    <a ng-href="#/users/{{ user.profile.$id }}">
                      <img ng-src="https://www.gravatar.com/avatar/{{ user.profile.md5_hash }}" class="nav-prof-img"/>{{
                      currentUser.username }}
                    </a>
                </li>
                <li ng-show="signedIn()">
                    <a href="#" ng-click="logout()">Logout</a>
                </li>
                <li ng-hide="signedIn()">
                  <a href="#login">Login</a>
                </li>
                <li ng-hide="signedIn()">
                  <a href="#register">Register</a>
                </li>

              <li class="dropdown" on-toggle="toggled(open)" ng-show="user.profile.admin">
                <a href class="dropdown-toggle">
                  Admin
                </a>
                <ul class="dropdown-menu" ng-controller="AdminCtrl">
                        <li ng-repeat="item in menuItems">
                          <a href='#admin/{{item | lowercase}}'>{{item}}</a>
                        </li>

                </ul>
                </li>


            </ul>
        </div>


</nav>
