<section id="profile">
    <div class="container">
      <div class="row">
        <div class="col-md-8">

          <h3>
            <img ng-src="https://www.gravatar.com/avatar/{{ profile.md5_hash }}" class="mission-img"/>{{profile.username}}
          </h3>


          <div ng-include="'views/progress.html'" scope="" onload=""></div>
          <div class="alert alert-warning" ng-hide="(getCount(challenges) > 4)">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Complete Your Mission:</strong>Choose at least 5 challenges for a mission [<a href="#challenges">click</a>]
                </div>

          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">
                Mission
                <small>{{getCount(challenges)}} challenges selected</small>
              </h3>
            </div>

            <div class="panel-body">
              <div class="col-xs-6 col-md-4 col-lg-3" ng-repeat="challenge in challenges">
                <a href="#challenges/{{challenge.$id}}">
                  <img ng-src="images/portfolio/{{challenge.icon}}.png" class="mission-img">
                </a>
              </div>
              <br>
            </div>
                </div>

          <br>


          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Completed Challenges</h3>
            </div>
            <div class="panel-body">


              <div class="progress">
                <div class="progress-bar progress-bar-success" style="width: {{40}}%">
                  <span class="sr-only">{{40}}% Challenges Complete</span>
                </div>
                <div class="progress-bar progress-bar-warning" style="width: {{20}}%">
                  <span class="sr-only">{{20}}% Bonus Points</span>
                </div>
                <div class="progress-bar progress-bar-danger" style="width: {{10}}%">
                  <span class="sr-only">{{10}}%</span>
                </div>
              </div>

              <div class="media">
                <a class="media-left media-top pull-left" href="#">
                  <img ng-src="images/portfolio/safe.png" style="max-height:128px">
                </a>

                <div class="media-body">
                  <h4 class="media-heading">My Values Type: Stablizer</h4>

                  <p>We like to drop safes from the third story of old brick buildings in run-down parts of decaying
                    industrial cities in the midwest.</p>
                </div>
              </div>

              <div class="media">
                <a class="media-left media-top pull-left" href="#">
                  <img ng-src="images/usercontent/20140301_172927792_iOS.jpg" style="max-height:128px">
                </a>

                <div class="media-body">
                  <h4 class="media-heading">My Ethnographic Subject: Stella</h4>

                  <p>At 13 lbs., Stella worries about her weight . . .</p>
                </div>
              </div>
              <div class="media">
                <a class="media-left media-top pull-left" href="#">
                  <img ng-src="images/usercontent/20140301_172927792_iOS.jpg" style="max-height:128px">
                </a>

                <div class="media-body">
                  <h4 class="media-heading">My Ethnographic Subject: Stella</h4>

                  <p>At 13 lbs., Stella worries about her weight . . .</p>
                </div>
              </div>
              <div class="media">
                <a class="media-left media-top pull-left" href="#">
                  <img ng-src="images/usercontent/20140301_172927792_iOS.jpg" style="max-height:128px">
                </a>

                <div class="media-body">
                  <h4 class="media-heading">My Ethnographic Subject: Stella</h4>

                  <p>At 13 lbs., Stella worries about her weight . . .</p>
                </div>
              </div>
            </div>
                </div>

            </div>
        <!--/col -->

        <div class="col-md-4">
          <section id="lab" class="well success">
            <h3>My Lab</h3>
            <h4>{{lab.client}}</h4>

            <p>Contact: {{lab.contact}}</p>

            <p>Location: {{lab.location}}</p>

            <p>Date: {{lab.day1}}</p>

            <div style="display:inline-block; min-height:290px;">
              <datepicker ng-model="lab.day1" show-weeks="false" class="well well-sm"></datepicker>
            </div>
            <p>My Lab Mates</p>

            <div class="list-group">
              <a href="#users/{{user.$id}}" class="list-group-item"
                 ng-repeat="(key, user) in labmates | orderObjectBy:predicate:true">
                <img ng-src="https://www.gravatar.com/avatar/{{ user.md5_hash }}" class="nav-prof-img"/>{{user.username}}
                <span class='badge pull-right'>{{user.points}}</span>
              </a>
            </div>
          </section>

        </div>
        </div>

      <div class="row">
        <div class="col-md-6">

          <div class="panel panel-warning">
            <div class="panel-heading">
              <h3 class="panel-title">Utilities</h3>
            </div>
            <div class="panel-body">
              <p>Admin Only</p>
              <button class="btn btn-default" ng-show="user.profile.admin" data-toggle="modal"
                      data-target="#editProfile">
                Edit User
              </button>
              <br>

              <div id="change-password" ng-show="user.uid === profile.$id">
                <p>Change Password</p>

                <form class="form">
                  <div class="control-group">
                    <label>Old Password</label>
                    <input type="password" class="form-control" ng-model="obj.oldpassword">
                  </div>
                  <div class="control-group">
                    <label>New Password</label>
                    <input type="password" class="form-control" ng-model="obj.newpassword">
                  </div>
                  <div class="control-group">
                    <label>Retype New Password</label>
                    <input type="password" class="form-control" ng-model="obj.newpassword2">
                  </div>
                  <button type="button" class="btn btn-default" ng-click="changePassword(user.email, obj)">Update
                  </button>
                </form>
                <div class="alert alert-danger" ng-show="error">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                  <strong>Oops!</strong>{{error}}
                </div>

              </div>
            </div>
                </div>


        </div>
        <div class="col-md-6">

          <div class="panel panel-warning" ng-show="user.uid === profile.$id">
            <div class="panel-heading">
              <h3 class="panel-title">Show Us Your Face</h3>
            </div>
            <div class="panel-body">

              <p>Create a Gravatar (Globally Recognized Avatar), upload your preferred avatar, and we'll all know what
                you look like. :-)</p>
              <a
                href="https://signup.wordpress.com/signup/?ref=oauth2&oauth2_redirect=1b7c6fb5f94182c8c314c64676c474b0%40https%3A%2F%2Fpublic-api.wordpress.com%2Foauth2%2Fauthorize%2F%3Fclient_id%3D1854%26response_type%3Dcode%26blog_id%3D0%26state%3D6623359fa02842da22ff59af51fbbc5f986749b35f5e1e44bfbeccc3487fa0d9%26redirect_uri%3Dhttps%253A%252F%252Fen.gravatar.com%252Fconnect%252F%253Faction%253Drequest_access_token%26jetpack-code%26jetpack-user-id%3D0%26action%3Doauth2-login&wpcom_connect=1"
                class="btn btn-default btn-lg" target="_new">Go To Gravatar</a>
            </div>
          </div>

          <div class="panel panel-warning" id="joinlab" ng-show="user.uid === profile.$id">
            <div class="panel-heading">
              <h3 class="panel-title">Join Lab</h3>
            </div>
            <div class="panel-body">

              <p>Accept terms and conditions of this lab</p>

              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="" class="form-control" ng-model="user.accepted">I Accept
                  </label>
                </div>
              </div>
              <button type="button" class="btn btn-default" ng-click="joinLab(user)">Accept</button>
              <div class="alert alert-success" ng-show="success">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>You did it!</strong>{{success}}
              </div>
            </div>
          </div>
        </div>
        </div>

</section>

<div class="portfolio-modal modal fade" id="editProfile" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
      <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                      <div class="panel panel-body">
                            <h2>Edit</h2>

                            <form>
                                <div class="form-group">
                                    <label for="username">User Name</label>
                                    <input id="username" type="text" class="form-control" ng-model="profile.username">
                                </div>
                                <div class="form-group">
                                  <label for="lab">Lab</label>
                                    <input id="lab" type="text" class="form-control" ng-model="profile.lab">
                                  <!-- <select ng-model="profile.lab" ng-options="lab.client for lab in labs"></select> -->
                                </div>
                                <div class="form-group">
                                    <label for="points">Points</label>
                                    <input id="points" type="number" class="form-control" ng-model="profile.points">
                                </div>
                              <div class="form-group" ng-disabled="true">
                                <label for="admin">Admin</label>
                                <input id="admin" type="checkbox" class="form-control" ng-model="profile.admin">
                              </div>
                                <div class="btn-group">
                                  <button class="btn btn-default" ng-click="update(profile)" data-dismiss="modal">
                                    Update
                                  </button>
                                  <button class="btn" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                                </div>
                            </form>

                        </div>

                    </div>
                </div>
                </section>
            </div>
        </div>
