<!--  <div class="row">
<div class="col-xs="6" col-md-3">Your Mission</div>
  <div class="col-xs-3 col-md-1" ng-repeat="challenge in challenges">
    <a href="#" class="thumbnail">
      <img ng-src="images/portfolio/{{challenge.icon}}.png" class="prof-img">
    </a>
  </div>

</div> -->

<section id="profile">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Profile of {{ profile.username }}</h2>
                <hr class="star-primary">
            </div>
        </div>

        <div class="panel">
            <div class="row">
                <div class="col-sm-1">
                    <img ng-src="https://www.gravatar.com/avatar/{{ profile.md5_hash }}" class="prof-img"/>
                </div>

                <div class="col-sm-10">
                    <h2>{{profile.points}} Points</h2>
                </div>
            </div>


            <h3>Challenges Complete</h3>

            <div class="post row" ng-repeat="(key,challenge) in challenges">
                <div class="col-md-2 col-xs-4">

                    <a ng-href="#/challenges/{{ challenge.$id }}">
                        <img ng-src="images/portfolio/{{challenge.icon}}.png" class="prof-img pull-left">
                    </a>
                </div>
                <div class="col-md-10 col-xs-12">
                    <a ng-href="#/challenges/{{ challenge.$id }}">
                        <span class="panel-title">{{ challenge.title }}</span>
                        <span class="url">Points ({{ challenge.points}})</span>
                    </a>
                </div>
                <span><a ng-href="#/challenges/{{ challenge.$id }}">comments</a>
                </span>
            </div>
        </div>

        <h3>Posts</h3>

        <div class="post row" ng-repeat="(key,post) in posts">
            <div class="col-md-8 col-xs-10">
                <div class="info">
                    <a ng-href="{{ post.url }}">
                        {{ post.title }}
                        <span class="url">({{ post.url | hostnameFromUrl }})</span>
                    </a>
                </div>
                <div>
                    <a ng-href="#/posts/{{ post.$id }}">comments</a>
                </div>
            </div>
        </div>
      <button class="btn btn-default" data-toggle="modal" data-target="#editProfile">Edit</button>
    </div>
</section>

<div class="portfolio-modal modal fade" id="editProfile" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <div class="panel panel-body" ng-show="user.profile.lab === 'admin'">
                            <h2>Edit</h2>

                            <form>
                                <div class="form-group">
                                    <label for="username">User Name</label>
                                    <input id="username" type="text" class="form-control" ng-model="profile.username">
                                </div>
                                <div class="form-group">
                                    <label for="lab">Lab Code</label>
                                    <input id="lab" type="text" class="form-control" ng-model="profile.lab">
                                </div>
                                <div class="form-group">
                                    <label for="points">Points</label>
                                    <input id="points" type="number" class="form-control" ng-model="profile.points">
                                </div>
                                <div class="btn-group">
                                    <button class="btn" ng-click="update(profile)">Update</button>
                                    <button class="btn" ng-click="open('lg','views/modals/changepasswordmodal.html')">
                                        Change Password
                                    </button>
                                </div>
                            </form>

                        </div>

                    </div>
                </div>
                </section>
            </div>
